TestResults.xml
build
obj
bin
deploy
deploy/*
_Reshaper.*
*.csproj.user
*.resharper.user
*.Resharper.user
*.resharper
*.suo
*.cache
~$*
*.orig
*.5.0.Resharper
*/CommonAssemblyInfo.cs
